<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfplatepoha.chidiyaudd"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.halfplatepoha.chidiyaudd.SplashScreen"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.halfplatepoha.chidiyaudd.LaunchActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.halfplatepoha.chidiyaudd.SplashScreen" />
        </activity>
        
        <activity
            android:name="com.halfplatepoha.chidiyaudd.SingleMode"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.surajsau.chidiyaudd.LaunchActivity" />
        </activity>
        
        <activity
            android:name="com.halfplatepoha.chidiyaudd.VersusMode"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.halfplatepoha.chidiyaudd.LaunchActivity" />
        </activity>
        
        <activity
            android:name="com.halfplatepoha.chidiyaudd.TournamentMode"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.halfplatepoha.chidiyaudd.LaunchActivity" />
        </activity>
        
        <activity
            android:name="com.halfplatepoha.chidiyaudd.SettingsMode"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.halfplatepoha.chidiyaudd.LaunchActivity" />
        </activity>
    </application>

</manifest>
